<p><%= link_to "Create New Kitten", new_kitten_path %></p>
<hr>

<% if @kittens.empty? %>
    <h3><%= link_to "Add Kitten", new_kitten_path %></h3>
<% else %>
    <% @kittens.each do |kitten| %>
        <%= render "kitten_info", kitten: kitten %>
    <% end %>
<% end %>
