<h1><%= "#{controller_name.titleize}##{action_name}" %></h1>
<p>
    <%= link_to "All Kittens", kittens_path %>
    &nbsp &nbsp | &nbsp &nbsp 
    <%= link_to "Create New Kitten", new_kitten_path %>
</p>
<hr>